---
import Bio from "../components/Bio.astro";
import Books from "../components/Books.astro";
import CEO from "../components/CEO.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import Podcasts from "../components/Podcasts.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Dra. Maria Alejandra Ruiz | Psicóloga Clínica'>
  <Navigation />
  <main id='main-content'>
    <Hero />
    <Bio />
    <Books />
    <Podcasts />
    <CEO />
    <Contact />
  </main>
  <Footer />
</Layout>
